<div class="container">
  <div class="row">
    <% if !flash[:notice].blank? %>
     <div class = "alert alert-info">
        <%= flash[:notice] %>
     </div>
    <% end %>
  <div>
    <%= link_to "New Application", new_certificate_path, :class => "btn btn-success pull-right" %>
  </div><br /><br />
  <div>
    <table id="certificate_lists" class="table table-bordered table-striped">
       <thead>.
          <tr>
             <th>Certificate No</th>
             <th>Student ID</th>
             <th>Student Name</th>
             <th>Father Name</th>
             <th>Aadhar Number</th>
             <th>Academic Program</th>
             <th>Degree</th>
             <th>College</th>
             <th>Year</th>
             <th>Download Link</th>
             <th>Actions</th>
          </tr>
       </thead>
       <tbody>
          <%= render 'certificates/home_page', text: "Details View", locals: {:@certificates_data => @certificate} %>
       </tbody>
    </table>
  </div>
  </div>
</div>
<% content_for :javascript_includes do %>
  <script>
    $(document).ready(function(){
      useDatatables();
    });
  </script>
<% end %>
